:root {
   --color-dark-blue: #001220;
   --color-dark-purple: #2a0b45;
   --color-pinkish-purple: #6d0354;
   --color-redish-pink: #ab0650;
   --color-red: #db393b;
   --color-orange: #F5730A;
   --color-gray: #d0d0d0;
   --color-pure-white: #ffffff;
}

/* //////////////////// body //////////////////// */
* {
   margin: 0;
   padding: 0;
}

/* //////////////////// header //////////////////// */
header {
   width: 100%;
   height: 100vh;
   background-image: url(../pic/bg-h-bt.svg);
   background-repeat: no-repeat;
   background-size: cover;
   color: #d0d0d0;
   padding: 20vh 0;
}

.header-h1 {
   font-weight: bold;
}

.header .header-h1,
.header-paragraph {
   margin-bottom: 20px;
}

/* //////////////////// header-button //////////////////// */
/* outher style's is in navbar.css */

#multicolor-header-btn{
   text-decoration: none;
   font-size: 1.6em;
}

/* //////////////////// main //////////////////// */
main {
   background-color: var(--color-dark-purple);
   background-image: linear-gradient( #2a0b45,#52057B );
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(../pic/layered-peaks-haikei\ \(2\).svg);
   background-position: center;
   padding: 1px;
}

/* //////////////////// sec-1 //////////////////// */
#sec-1 {
   margin: 7em auto 2em;
   padding: 1em;
   /* background-image: url(../pic/layered-peaks-haikei\ \(2\).svg); */
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   color: var(--color-pure-white);
}
#posts{
   border-radius: 5px;
}

/* //////////////////// sec-2 owl-text-carousel//////////////////// */
#sec-2-owl {
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   -moz-webkit-backdrop-filter: blur(10px);
   padding: 2vw;
   background: transparent;
   background-color: rgba(255, 255, 255, 0.06);
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
   border-radius: 10px;
   width: 70vw;
   margin: 3em auto;
   color: var(--color-pure-white);
}

.owl-container {
   max-width: 56em;
   margin: 0 auto;
}

.owl-head {
   text-align: center;
   text-transform: capitalize;
   padding: 0 10vw;
   margin-bottom: 30px;
   color: var(--color-pure-white);
   font-size: 30px;
   font-weight: bold;
}

.owl-text {
   font-weight: 400;
   line-height: 30px;
   height: 200px;
   margin: 0 150px;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.owl-text p {
   margin: 0;
}

/* //////////////////// sec-3 owl carousel//////////////////// */
#sec-3-owl {
   margin: 3em auto;
   padding: 20px;
}

.owl-category {
   text-align: center;
   text-transform: capitalize;
   padding: 0 10vw;
   margin-bottom: 40px;
   color: var(--color-pure-white);
   font-size: 30px;
   font-weight: bold;
}

.section-post {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   padding: 0;
   margin: 0 15px;
   border-radius: 5px;
}

#post-img-1 {
   background-image: url(../pic/gaaaayy.jpg);
}

#post-img-2 {
   background-image: url(../pic/sad-duff-girl.jpg);
}

#post-img-3 {
   background-image: url(../pic/duff-girl-in-plastic-sky.jpg);
}

#post-img-4 {
   background-image: url(../pic/sleeping-woman-at-night.jpg);
}

#post-img-5 {
   background-image: url(../pic/ugly-girl.jpg);
}

#post-img-6 {
   background-image: url(../pic/traveling-sleepeer.jpg);
}

#post-img-7 {
   background-image: url(../pic/night-brain-day.jpg);
}

#post-img-8 {
   background-image: url(../pic/dark-bedroom.jpg);
}

#post-img-9 {
   background-image: url(../pic/coffee-and-book.jpg);
}

#post-img-10 {
   background-image: url(../pic/bed-on-the-cluod.jpg);
}


.section-text {
   height: 200px;
   transition: 0.45s;
   padding: 20px;
   color: transparent;
   cursor: pointer;
   border-radius: 5px;
}

.section-text:hover {
   color: #fff;
   background-color: rgba(0, 0, 0, 0.3);
   border-radius: 5px;
}

.owl-nav button i {
   color: #fff;
}

.owl-nav button {
   background-color: transparent !important;
   border: none !important;
   outline-style: none;
   transition: all 1s ease;
   opacity: 0.2;
}

.owl-nav button:hover {
   background-color: transparent !important;
   border: none !important;
   outline-style: none;
   opacity: 1;
   scale: 1.2;
}

.owl-prev,
.owl-next {
   position: absolute;
   top: 0%;
   width: 5em;
   height: 200px;
}

.owl-prev {
   left: 0;
   margin: 0 0 0 15px !important;
}

.owl-next {
   right: 0;
   margin: 0 15px 0 0 !important;
}

/* //////////////////// media screen //////////////////// */
@media (max-width: 1080px) {
   #sec-2-owl {
      padding: 2vw;
      width: 80vw;
   }
}

@media (max-width: 767px) {
   #posts {
      background-color: rgb(35, 35, 35);
   }

   #posts .imgs {
      padding: 0;
   }

   #posts .pic-text p {
      margin: 0;
   }

   #posts .pic-text small {
      display: none;
   }

   #sec-2-owl {
      padding: 2vw;
      width: 85vw;
   }
}

@media (max-width: 650px) {
   .owl-nav {
      display: none;
   }

   .owl-head {
      margin-bottom: 20px;
   }

   .owl-text {
      padding: 2vw 4vw;
      font-weight: 500;
      line-height: 25px;
      height: 100%;
      width: 100%;
      margin: 0;
   }
   #sec-2-owl {
      padding: 2vw;
      width: 90vw;
   }
}