* {
   margin: 0;
   padding: 0;
}

body {
   height: 10000px;
}

:root {
   --color-dark-blue: #001220;
   --color-dark-purple: #2a0b45;
   --color-pinkish-purple: #6d0354;
   --color-redish-pink: #ab0650;
   --color-red: #db393b;
   --color-orange: #F5730A;
   --color-gray: #d0d0d0;
   --color-pure-white: #ffffff;
}

/* //////////////////// header //////////////////// */
header {
   width: 100%;
   height: 100vh;
   background-image: url(../pic/layered-peaks-haikei.svg);
   background-repeat: no-repeat;
   background-size: cover;
   color: #d0d0d0;
   padding: 20vh 0;
}

.header-h1 {
   font-weight: bold;
}

#header-btn {
   margin: 0;
   font-weight: bold;
}

.header .header-h1,
.header-paragraph {
   margin-bottom: 20px;
}

/* //////////////////// header //////////////////// */
/* //////////////////// main //////////////////// */
main {
   background-color: var(--color-orange);
   width: 100%;
   height: 1000px;
   padding-top: 1%;
}


.post{
   padding: 1em;
   border: 0.1em solid black;
}

.post-item{
   border: 0.1em solid black;
   margin: 1em 0;
   
}
.post-img{
   height: 100px;
   background: url(../pic/layered-peaks-haikei.svg);

}


/* //////////////////// main //////////////////// */