.test-owl{
  margin: 30px;
  background-color: rgb(170, 170, 170);
  text-align: center;
  color: white;
  border-radius: 30px;
}

.question{
  margin: 15px;
}
label{
  margin:5px;
  padding:10px;
  background-color: #001220;
  border-radius: 15px;
}