:root {
    --color-dark-blue: #001220;
    --color-dark-purple: #2a0b45;
    --color-pinkish-purple: #6d0354;
    --color-redish-pink: #ab0650;
    --color-red: #db393b;
    --color-orange: #F5730A;
    --color-gray: #d0d0d0;
    --color-pure-white: #ffffff;
}

/* //////////////////// body //////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../pic/bg-h-bt.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 15vh 0 0;
}

/* //////////////////// clock //////////////////// */
.section-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.3),
        4px 4px 10px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.55);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -moz-webkit-backdrop-filter: blur(20px);
    background: transparent;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    margin: 20px auto 40px;
    height: 350px;
    width: 350px;
}

.section-clock:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #747474;
    border-radius: 50%;
    z-index: 999;
}

.section-clock .hour,
.section-clock .min,
.section-clock .sec {
    position: absolute;
}

.section-clock .hour,
.hr {
    width: 160px;
    height: 160px;
}

.section-clock .min,
.mn {
    width: 190px;
    height: 190px;
}

.section-clock .sec,
.sc {
    width: 230px;
    height: 230px;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ffb510;
    z-index: 9;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: #8b8b8b;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    background: #e5e5e5;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

/* //////////////////// input num //////////////////// */
.calc-num input{
    text-align: center;
    background-color: #ffb510;
    width: 5em;
    height: 2.3em;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 6px;
}

/* //////////////////// input num btn //////////////////// */
.section-calc {
    text-align: center;
}

.calc-btn button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 11em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    outline: none;
}

.calc-btn button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 200px;
    width: 250px;
    border-radius: 50%;
}

.calc-btn button:hover {
    color: #fff;
}

.calc-btn #wake-up-btn:before {
    top: 100%;
    right: 100%;
    transition: all .7s;
}

.calc-btn #wake-up-btn:hover:before {
    top: -45px;
    right: -45px;
}

.calc-btn #bed-time-btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.calc-btn #bed-time-btn:hover:before {
    top: -45px;
    left: -45px;
}

.calc-btn button:active:before {
    background: #3a0ca3;
    transition: background 0s;
}