:root {
    --color-dark-blue: #001220;
    --color-dark-purple: #2a0b45;
    --color-pinkish-purple: #6d0354;
    --color-redish-pink: #ab0650;
    --color-red: #db393b;
    --color-orange: #F5730A;
    --color-gray: #d0d0d0;
    --color-pure-white: #ffffff;
}

/* //////////////////// body //////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: #1e1f26;
    position: absolute;
    z-index: -1;
}

/* //////////////////// music box //////////////////// */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 8vh 0 0;
}

main #box {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
    -moz-webkit-backdrop-filter: blur(20px);
    background: transparent;
    background-color: rgba(255, 255, 255, 0.011);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    padding: 1.5em 0 0.5em;
    border-radius: 10px;
    width: 40vw;
}

/* ////////////////////  //////////////////// */
#song-counter,
#current-time,
#full-time,
#song-title {
    color: azure;
}

#song-counter {
    position: absolute;
    left: 1em;
    top: 1em;
}

/* //////////////////// music cover //////////////////// */
#cover-container img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 50%;
}

/* //////////////////// music cover animation //////////////////// */
.border-dance {
    position: relative;
    width: inherit;
    height: inherit;
}

.border-dance:after {
    filter: blur(50px);
}

.border-dance:before,
.border-dance:after {
    transition: 1s;
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 50%;
    background: linear-gradient(45deg, #03dac6, #ff0266, #03dac6, #ff0266);
    background-size: 300%;
    opacity: var(--boxAfterBackColor, 0);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
/* //////////////////// music name //////////////////// */
#song-title{
    font-size: 1.8em;
    text-align: center;
    margin: 0.5em 0;
}
/* //////////////////// range input  //////////////////// */
input[type=range] {
    appearance: none;
    background: #ff0266;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    transition: 0.4s all ease-out;
    outline: none;
    margin: 0.5em;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 19px;
    height: 19px;
    background-color: #03dac6;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s all ease-out;
}

input[type=range]:hover {
    background: #ff0267b3;
    box-shadow: 0px 0px 15px 0px #ff0267;
}

input[type=range]:hover::-webkit-slider-thumb {
    background: #03dac5e6;
    box-shadow: 0px 0px 15px 0px #03dac6;
}

#full-time{
    padding: 0 3em 0 0.5em;
}

#current-time{
    padding: 0 0.5em 0 3em;
}
/* //////////////////// next | pause/play | pre btn //////////////////// */
#music-button{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music-btns{
    font-size: 2.5em;
    margin: 0 0.3em;
    transition: 0.4s all;
}
#play{
    font-size: 4.5em;
}
.music-btns:hover{
scale: 1.1;
}

/* //////////////////// media screen \\\\\\\\\\\\\\\\\\\\ */
@media (max-width: 1200px){
    main #box {
        width: 55vw;
    }
}
@media (max-width: 720px) or (max-height: 700px) {
    main #box {
        width: 65vw;
    }
    #cover-container img {
        width: 280px;
        height: 280px;
    }
    #full-time{
        padding: 0 2em 0 0.4em;
    }
    
    #current-time{
        padding: 0 0.4em 0 2em;
    }
}
@media (max-width: 540px){
    main #box {
        width: 75vw;
    }
    #cover-container img {
        width: 260px;
        height: 260px;
    }
    .music-btns{
        font-size: 2em;
        margin: 0 0.3em;
        transition: 0.4s all;
    }
    #play{
        font-size: 4em;
    }
}
@media (max-width: 460px){
    main #box {
        width: 90vw;
    }
    #cover-container img {
        width: 250px;
        height: 250px;
    }
    #full-time{
        padding: 0 1.5em 0 0.4em;
    }
    
    #current-time{
        padding: 0 0.4em 0 1.5em;
    }
}

.notif{
    color :#d0d0d0;
    z-index: 999999;
    transition: .4s;
    position: absolute;

    width: 90vw;
    height: 70vh;
    overflow-y: auto;

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(50px);
    -moz-webkit-backdrop-filter: blur(20px);
    background: transparent;
    background-color: rgba(255, 255, 255, 0.011);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    padding: 1vw;
    border-radius: 10px;

}

.notif i {
    margin: 10px;
    font-size: 1.4em;
    color: #d0d0d0;
}

.notif p {
    text-align: center;
    text-wrap: balance;
    margin: 2em;
    font-size: 1.1em;
    
}

.notif h3{
    margin: 2em;
}

.notif-pop{
    color: #d0d0d0;
    font-size: 1.5em;
    position: absolute;
    bottom: 20px;
    right: 30px;
    transition: .3s;
    
}

.notif-pop:hover{
    transition: .3s;
    font-size: 2em;
    transform: rotateZ(45deg);
    
    text-shadow: #d0d0d0 0px 0 10px ;

    
}