main div.container{
    height: 100vh;
    padding: 0 !important;
}
#song-counter,#current-time,#fulltime,#song-title{
    color: azure;
}

.background { 
    background-color: #1e1f26;
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

canvas {
    z-index: -1 !important;
}


input[type=range] {
    appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid;
    background: none;
    box-shadow: 0px 0px 8px 0px #555, 0px 0px 25px 0px #555 inset;
    transition: 0.4s all ease-out;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background-color: #CCC;
    border: solid 1px #333;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 0px #555, 0px 0px 25px 0px #555 inset;
    cursor: pointer;
    transition: 0.4s all ease-out;
}

input[type=range]:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 13px 0px #444, 0px 0px 20px 0px #444 inset;
}

input[type=range]:hover::-webkit-slider-thumb {
    border: solid 1px #444;
    box-shadow: 0px 0px 15px 0px #444, 0px 0px 20px 0px #444 inset;
}

input[type=range]:focus {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 18px 0px #333, 0px 0px 15px 0px #333 inset;
}

input[type=range]:focus::-webkit-slider-thumb {
    border: solid 1px #333;
    box-shadow: 0px 0px 22px 0px #333, 0px 0px 15px 0px #333 inset;
}


#cover-container img{

    width: 512px;
    height: 512px;
    object-fit: cover;
    

    border-radius: 50%;
}

@media (max-width: 580px) or (max-height: 700px) {
    #cover-container img{
        width: 320px;
        height: 320px;
    }
}



.border-dance {
	position: relative;
    width: inherit;
    height: inherit;

}

.border-dance:before, .border-dance:after {
    transition: 1s;
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
    border-radius: 50%;
	background: linear-gradient(45deg,#03dac6, #ff0266, #ffffff);
	background-size: 300%;
    opacity: var(--boxAfterBackColor,0);    
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.border-dance:after {
	filter: blur(50px);
}