:root {
   --dark-blue: #001220;
   --dark-purple: #2a0b45;
   --pinkish-purple: #6d0354;
   --redish-pink: #ab0650;
   --red: #db393b;
   --orange: #F5730A;
   --gray: #d0d0d0;
   --pure-white: #ffffff;

}

/* //////////////////// navbar //////////////////// */
.navbar {
   background-color: rgba(0, 0, 0, 0.4);
   color: #d0d0d0;
   font-size: 1.1em;
   font-weight: bold;
}

.nav-item .nav-link,
.btn {
   font-weight: inherit;
   font-size: inherit;
   color: inherit;
}

.btn {
   color: white;
   background: linear-gradient(45deg, var(--color-pinkish-purple) 10%, var(--color-redish-pink)35%, var(--color-red)75%, var(--color-orange)100%);
   border: none;
   box-shadow: none;
   border-radius: 5px;
   margin-left: 8px;

}

/* //////////////////// search-bar //////////////////// */

form #search-btn {
   color: var(--color-pure-white);
   font-size: 1.3em;
   margin-left: 10px;
}

form #search-bar.closed {
   width: 0;
   margin: 0;
   padding: 0;
   visibility: hidden;
   transition: .3s;

}

form #search-bar.opened {
   margin: 0 10px;
   transition: .3s;
   width: 250px;


}

/* //////////////////// side-bar //////////////////// */


#side-bar {
   width: 180px;
   height: 100vh;
   position: fixed;
   background-color: var(--gray);
   z-index: 9999;
   overflow-x: hidden;
   list-style: none;
   padding-top: 20px;
   transition: .3s;

}

#side-bar li :hover {
   background-color: var(--dark-blue);
   color: var(--gray);
   transition: .3s;

}


#side-bar.closed {
   left: -180px;
}

#side-bar.opened {
   left: 0;
}