:root {
   --dark-blue: #001220;
   --dark-purple: #2a0b45;
   --pinkish-purple: #6d0354;
   --redish-pink: #ab0650;
   --red: #db393b;
   --orange: #F5730A;
   --gray: #d0d0d0;
   --pure-white: #ffffff;

}
body{
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
/* //////////////////// navbar //////////////////// */
.navbar {
   background: transparent;
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
   color: var(--gray);
   font-size: 1.1em;
   font-weight: bold;
}

.nav-item .nav-link {
   font-weight: inherit;
   font-size: inherit;
   color: inherit;
}

/* //////////////////// header-button //////////////////// */
.multicolor-btn {
   display: inline-block;
   transition: .4s linear;
   --s: 1.09em;
   padding: 0 10px;
   border-radius: 0.2em;
   background:
      conic-gradient(from 120deg at top, #2a0b45 120deg, #0000 0),
      conic-gradient(from 120deg at top, #6d0354 120deg, #0000 0),
      conic-gradient(from 120deg at top, #db393b 120deg, #0000 0),
      conic-gradient(from 120deg at top, #F5730A 120deg, #0000 0);
   background-repeat: repeat-x;
   background-size: calc(var(--s)/0.577) var(--s);
   background-position: 50% calc(100% + var(--s));
   color: #fff !important;
   text-align: center;
   font-size: 1.3em;
   line-height: 1.6em;
   cursor: pointer;
   /* background-color: #f5740a4e; */
   /* border:1px solid #F5730A; */
}

.multicolor-btn:hover {
   /* border: none;
   transition: 0.4s linear; */
   background-position:
      50% calc(100% + var(--s)/2),
      50% calc(100% + 0px),
      50% calc(100% - var(--s)/2),
      50% calc(100% - var(--s));
}

.multicolor-btn:before,
.multicolor-btn:after {
   pointer-events: none;
}

/* //////////////////// nav-button //////////////////// */

#nav-double-button .nav-button {
   display: inline-block;
   border-radius: 20px;
}

#nav-button-1 {
   background-color: #ff9f50;
   color: var(--dark-purple);
   padding: 8px 44px 8px 16px;
   margin-right: -40px;
}

#nav-button-2 {
   background-color: var(--redish-pink);
   color: var(--pure-white);
   padding: 8px 16px;
}

#nav-button-1:hover {
   background-color: var(--orange);
   color: var(--pure-white);
}

#nav-button-2:hover {
   background-color: #d10460;
}

/* //////////////////// search-bar //////////////////// */

form #search-btn {
   color: var(--color-pure-white);
   font-size: 1.3em;
   margin-left: 10px;
   cursor: pointer;
}

form #search-bar.closed {
   width: 0;
   margin: 0;
   padding: 0;
   visibility: hidden;
   transition: .3s;
}

form #search-bar.opened {
   margin: 0 10px;
   transition: .3s;
   width: 250px;
}

/* //////////////////// side-bar //////////////////// */

#side-bar {
   position: fixed;
   z-index: 9999;
   overflow-x: hidden;
   transition: .3s;
   background: transparent;
   -webkit-backdrop-filter: blur(90px);
   backdrop-filter: blur(90px);
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
   width: 45vw;
   height: 100vh;
}

#top-of-sidebar {
   padding: 50px 10px 50px 40px;
   background: rgba(0, 0, 0, 0.2);
   color: var(--pure-white);
}

#top-of-sidebar p:first-child {
   font-size: 1.8em;
   font-weight: bold;
}

#buttom-of-sidebar {
   list-style: none;
   margin: 0;
}

#buttom-of-sidebar li a {
   display: block;
   text-decoration: none;
   padding: 16px 20px;
   border-top: 1px solid rgba(0, 0, 0, 0.2);
   color: var(--gray);
}

#buttom-of-sidebar li a i {
   font-size: large;
   color: var(--pure-white);
   padding: 0 16px 0 0;
}

#buttom-of-sidebar li:hover {
   transition: .3s;
   background: rgba(0, 0, 0, 0.2);
   color: var(--pure-white);
}

#side-bar.closed {
   left: -50vw;
}

#side-bar.opened {
   left: 0;
}

/* //////////////////// sidebar-button //////////////////// */
#sidebar-double-button .sidebar-button {
   /* margin-top: 1em; */
   padding: 16px 0;
   text-align: center;
   transition: 0.4s;
}

#sidebar-button-1 {
   background-color: #f5740ad5;
   color: var(--dark-purple);
}

#sidebar-button-2 {
   margin-right: 15px;
   background-color: var(--redish-pink);
   color: var(--pure-white);
}

#sidebar-button-1:hover {
   background-color: var(--orange);
   color: var(--pure-white);
}

#sidebar-button-2:hover {
   background-color: #d10460;
}

#buttom-of-sidebar #sidebar-double-button:hover {
   background: none;
}

/* //////////////////// media screen //////////////////// */
@media (max-width: 750px) {
   form #search-bar.opened {
      width: 35vw;
   }
}

@media (max-width: 576px) {
   #side-bar {
      width: 75vw;
   }

   #side-bar.closed {
      left: -100vw;
   }
}